{% extends 'admin_side/admin_dashboard.html' %}

{% block content %}
    {% if quizzes %}
        <div class="container mt-4">
            <h2>All Quizzes</h2>
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th>Quiz ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Subject</th>
                        <th>Chapter</th>
                        <th>Questions</th>
                        <th>Duration (min)</th>
                        <th>Due Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in quizzes %}
                        <tr>
                            <td>{{ quiz.quizId }}</td>
                            <td>{{ quiz.title }}</td>
                            <td>{{ quiz.description }}</td>
                            <td>{{ quiz.subject.sub_name }}</td>
                            <td>{{ quiz.chapter.chapter_name }}</td>
                            <td>{{ quiz.number_of_questions }}</td>
                            <td>{{ quiz.duration }}</td>
                            <td>{{ quiz.due_date.strftime('%d-%m-%Y %H:%M') if quiz.due_date else 'No Due Date' }}</td>
                            
                            {% if quiz.is_deleted %}
                                <td>
                                    <a href="{{ url_for('permanently_delete_quiz', quiz_id=quiz.id) }}" class="btn btn-danger">Permanently Delete</a>
                                    <!-- <button class="btn btn-primary" style="background-color: rgb(205, 83, 83);">Deleted</button> -->
                                    <form action="{{ url_for('reactive_quiz', quiz_id=quiz.id) }}" method="POST" style="display:inline;">
                                        <button type="submit" class="btn btn-success btn-sm">Reactive</button>
                                    </form>
                                </td>
                            {% else %}
                                <td>
                                    <a href="{{ url_for('edit_quiz', quiz_id=quiz.id) }}" class="btn btn-warning btn-sm">Edit</a>
                                    <form action="{{ url_for('delete_quiz', quiz_id=quiz.id) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ url_for('create_quiz') }}" class="ms-4 mt-4 btn btn-primary">Create New Quiz</a>
        </div>
    {% else %}
        <p class="ms-4 mt-4 fs-4">Not any quiz available</p>
        <a href="{{ url_for('create_quiz') }}" class="ms-4 mt-4 btn btn-primary">Create New Quiz</a>
    {% endif %}
{% endblock %}