{% extends 'base.html' %}

{% block content %}
<form action="{{ url_for('forget_password') }}" method="POST">
    <div>
        <h1 class="head" style="border-radius: 10px;">Update Password</h1>
    </div>
    <div class="form">
        <label for="username">Username:</label>
        <input type="email" id="username" name="username" placeholder="Enter Your E-mail" required>

        <label for="dob">Date Of Birth:</label>
        <input type="date" id="dob" name="dob" required >

        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Your New Password" required >

        <button type="submit" class="btn-primary">Update</button>
    </div>
    <div class="update">
        <a href="{{ url_for('login') }}">Go to Login</a>
    </div>
</form>
{% endblock %}
